@import "/src/common/styles/mixins";
@import "/src/common/styles/variables";

.dashboard {
  @include flex(unset, center, column);
  min-height: 660px;
  h1 {
    @include text($titleFontFamily, 26px, 1,$titleTextColor);
    font-weight: 700;
    align-self: flex-start;
    margin-left: 23px;
  }
  .inputWrap{
    position: relative;
    input {
      margin: 20px 0;
      padding-left: 40px;
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      border-radius: 15px;
      height: 45px;
      width: 877px;
      background: no-repeat 4px 7px ;
      background-size: 30px;
      font-size: 14px;

    }
    .testCount{
      @include text($secondFontFamily, 14px, 1,#D1D1D1);
      content: '';
      position: absolute;
      top: 36px;
      right: 16px;
    }
  }


  ul {
    @include flex(center, center, column);
    width: 100%;

    li {
      margin-bottom: 5px;
      width: 95%;

    }
  }
  .noResult{
    min-height: 530px;
    @include flex(space-around, center, column);
    @include text($titleFontFamily, 24px, 1,$titleTextColor);
    padding-bottom: 350px;

    button{
      height: 30px;
      width: 95px;
      background: #1BDA9D;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 600;
      align-items: center;
      text-align: center;
      border-radius: 10px;
    }
  }
}

